*.bg-color-1 {
	background-color: #4e4037;
}
*.bg-color-2 {
	background-color: #1f2f44;
}
*.bg-color-3 {
	background-color: #f1faee;
}

*.text-color-1 {
	color: #4e4037;
}
*.text-color-2 {
	color: #1f2f44;
}
*.text-color-3 {
	color: #f1faee;
}
